[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
moto = "*"
nose2 = "*"
pylint = "*"
pydocstyle = "*"
sphinx = "*"
mypy = "==0.720"
coverage = "*"
coveralls = "*"
openapi-spec-validator = "*"

[packages]
arxiv-base = "==0.16.1post2"
arxiv-auth = "==0.4.1"
arxiv-vault = "==0.1.1rc15"
flask = "*"
pytz = "*"
boto3 = "*"

[requires]
python_version = "3.6"
